body {
    position: relative;
    background-color: rgb(224, 206, 203);
    text-align: center;
}

body > * {
    margin: 0 17%;
}

a {
    text-decoration: none; /* links aren't underlined */

    &:hover {
        text-decoration: none; /* links aren't underlined */
    }
}

header {
    background-color: rgb(37, 17, 17);
}

header div {
    display: flex;
    position: relative;
    left: 5%;
    width: 5%;
}

header a {
    color: rgb(189, 115, 115);
    margin: 10% 30%;
    /* text-transform: uppercase; */
}

header a:hover {
    color: lightgrey;
}

#home {
    color: white;
}

#top {
    background: url("../assets/cover.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(224, 177, 170);
    padding-bottom: 2%;
}

#top h1 {
    padding: 8% 20% 3% 5%;
    /* background-color: green; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 700%;
}

#top p {
    padding: 5% 5%;
    margin-right: 75%;
    text-align: left;
    font-size: 200%;
    color: black;
    background-color: rgb(224, 177, 170);
}

#middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20pt;
    padding: 30pt;
    background: url(../assets/flower-background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 75%;
}

#middle > * {
    background-color: rgb(227, 192, 187);
    margin: 8% 10%;
    padding: 8% 15%;
}

#middle article * {
    padding: 3%;
}

#middle p {
    line-height: 30pt;
}

#middle div {
    border: black solid 1pt;
    background-color: rgb(220, 199, 195);
    width: 45%;
    height: 25%;
    align-content: center;
    position: relative;
    left: 25%;
}

#tile1 div {
    border: #bb7483 solid 1pt;
}

#tile1 div, #tile1 a {
    color: #bb7483;

    &:hover {
        transform: scale(110%);
        color: rgb(67, 28, 28);
    }
}

#tile2 div {
    border: #8174bb solid 1pt;
}

#tile2 div, #tile2 a {
    color: #8174bb;

    &:hover {
        transform: scale(110%);
        color: rgb(67, 28, 28);
    }
}

#tile3 div {
    border: #3e6cc1 solid 1pt;
}

#tile3 div, #tile3 a {
    color: #3e6cc1;

    &:hover {
        transform: scale(110%);
        color: rgb(67, 28, 28);
    }

}

#tile4 div {
    border: #b86dc7 solid 1pt;
}

#tile4 div, #tile4 a {
    color: #b86dc7;

    &:hover {
        transform: scale(110%);
        color: rgb(67, 28, 28);
    }
}

footer {
    background-color: rgb(67, 28, 28);
    color: white;
    padding: 0.5%;
}