body {
    position: relative;
    background-color: rgb(224, 206, 203);
    text-align: center;
}

body > * {
    margin: 0 17%;
}

a {
    text-decoration: none; /* links aren't underlined */

    &:hover {
        text-decoration: none; /* links aren't underlined */
    }
}

header {
    background-color: rgb(37, 17, 17);
}

header div {
    display: flex;
    position: relative;
    left: 5%;
    width: 5%;
}

header a {
    color: rgb(189, 115, 115);
    margin: 10% 30%;
    /* text-transform: uppercase; */
}

header a:hover {
    color: lightgrey;
}

#resume {
    color: white;
}

footer {
    background-color: rgb(67, 28, 28);
    color: white;
    padding: 0.5%;
}


